@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

body {
  background: url(../assets/images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  overflow-x: hidden;
}

// .body {
//   background-image: radial-gradient(
//       circle at 30% 86%,
//       rgba(255, 255, 255, 0.03) 0%,
//       rgba(255, 255, 255, 0.03) 8%,
//       transparent 8%,
//       transparent 92%
//     ),
//     radial-gradient(
//       circle at 55% 100%,
//       rgba(255, 255, 255, 0.03) 0%,
//       rgba(255, 255, 255, 0.03) 8%,
//       transparent 8%,
//       transparent 92%
//     ),
//     radial-gradient(
//       circle at 40% 75%,
//       rgba(255, 255, 255, 0.03) 0%,
//       rgba(255, 255, 255, 0.03) 6%,
//       transparent 6%,
//       transparent 94%
//     ),
//     radial-gradient(
//       circle at 7% 99%,
//       rgba(255, 255, 255, 0.03) 0%,
//       rgba(255, 255, 255, 0.03) 6%,
//       transparent 6%,
//       transparent 94%
//     ),
//     radial-gradient(
//       circle at 69% 76%,
//       rgba(255, 255, 255, 0.03) 0%,
//       rgba(255, 255, 255, 0.03) 6%,
//       transparent 6%,
//       transparent 94%
//     ),
//     radial-gradient(
//       circle at 2% 35%,
//       rgba(255, 255, 255, 0.03) 0%,
//       rgba(255, 255, 255, 0.03) 6%,
//       transparent 6%,
//       transparent 94%
//     ),
//     radial-gradient(
//       circle at 14% 48%,
//       rgba(255, 255, 255, 0.03) 0%,
//       rgba(255, 255, 255, 0.03) 6%,
//       transparent 6%,
//       transparent 94%
//     ),
//     radial-gradient(
//       circle at 28% 87%,
//       rgba(255, 255, 255, 0.04) 0%,
//       rgba(255, 255, 255, 0.04) 4%,
//       transparent 4%,
//       transparent 96%
//     ),
//     radial-gradient(
//       circle at 65% 14%,
//       rgba(255, 255, 255, 0.04) 0%,
//       rgba(255, 255, 255, 0.04) 4%,
//       transparent 4%,
//       transparent 96%
//     ),
//     radial-gradient(
//       circle at 51% 36%,
//       rgba(255, 255, 255, 0.04) 0%,
//       rgba(255, 255, 255, 0.04) 4%,
//       transparent 4%,
//       transparent 96%
//     ),
//     radial-gradient(
//       circle at 6% 93%,
//       rgba(255, 255, 255, 0.04) 0%,
//       rgba(255, 255, 255, 0.04) 4%,
//       transparent 4%,
//       transparent 96%
//     ),
//     linear-gradient(135deg, rgba(40, 44, 43, 0.178), rgba(30, 24, 208, 0.363));
// }

.common-btn {
  .btn {
    position: relative;
    overflow: hidden;
    z-index: 9;
  }
  .btn-primary {
    color: #2f2f41;
    background-color: rgba(1, 164, 121, 0.1);
    border-color: #01a479;
  }
  .btn:before {
    content: "";
    background: #ffba00;
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  .btn:hover:before {
    width: 100%;
  }
}

.elementor-box {
  border-radius: 10px;
  margin-right: 10px;
  background-color: $warning;
}
.box-img {
  position: absolute;
  width: 180px;
  height: 150px;
  margin-right: 200px;
}
